import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dosis:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

body {
  margin: 0;
}

body,
.image-fluid {
  max-width: 100vmax;
  height: 100vh;
  background-image: url(./images/870x489_30_05_22_adn_kateryna_kon_science_photo_library_gettyimages-1339204507.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  place-items: center;
}

nav {
  width: auto;
}

.header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0px;
  background: #504702c8;
  opacity: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.containerpersonne1 {
  margin-left: 114px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.containerpersonne2 {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.containerpersonne3 {
  background: transparent;
  margin-right: 114px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.titre.site {
  font-size: 25px;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 27px;
  padding: 8px;
  background: rgb(191, 141, 112);
  padding: 9px;
  border: solid 1px wheat;
  background: brown;
  border-radius: 17px;


}

.sitegénéalogie {
  font-size: 22px;
  padding-bottom: 20px;
  color: #ffff;
  text-decoration: none;
  margin-bottom: 5px;
  padding-bottom: 2px;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

span,
.prénom {
  background: black;
  border: solid rgb(210, 105, 30);
  font-size: 24px;
  color: whitesmoke;
  padding: 4px;
  border-radius: 16px;
  position: absolute;
  top: 112px;
  left: 53px;
  text-align: center;
}

.prénom-fatma {
  position: absolute;
  top: 112px;
  left: 53px;

}

.prénom-mostefa {
  position: absolute;
  top: 0px;
  left: 0px;
  top: 108px;
  left: 43px;
}

a {
  text-decoration: none;
}

a.btn1 {
  margin: 15px;
  width: fit-content;
}

.btn-group-lg>.btn,
.btn-lg {
  margin-bottom: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 8rem;
}

button {
  width: 80%;
  height: 100px;
}

.btn {
  width: 100%;
}

.btn-light:hover {
  color: black;
  background-color: yellow;
  border-color: red;
  -webkit-box-shadow: 0px 1px 28px 15px rgba(243, 235, 235, 0.963);
  box-shadow: 0px 1px 28px 15px rgba(243, 235, 235, 0.963);
}

.sidebar {
  position: absolute;
  left: 0;
  margin-top: 100px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 2;
  width: 340px;
  height: 500px;
}

#imghome {
  margin-bottom: 15px;
  width: 80px;
  cursor: pointer;
  position: absolute;
  top: -54px;
  ;
  left: 120px;
}

#imghome,
.logohome :hover {
  width: 100px;
}

.img,
.père.mère.fils {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: solid 5px chocolate;
  object-fit: fill;
}

.mère {
  object-position: 1px 3px;

}

.père {
  object-position: 50% 50%;

}

.fils {
  object-position: 4px 10px;
  background-color: white;
  object-fit: contain;
  width: 50px;

}

h2 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
}

#boxtext {
  font-family: 'Dancing Script', cursive;
  padding: 55px;
  position: absolute;
  top: 3%;
  left: 160%;
  background: url(./images/parchment-1527104_1920.jpg);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 5%;
  background-color: rgb(101, 83, 21);
  opacity: 0.80;
  border: solid whitesmoke;
  width: 1000px;
  height: 362px;
  border-radius: 15px;
  overflow: hidden;
  overflow: scroll;
  font-weight: 700;
  font-size: 35px;
  box-shadow: 0px 1px 38px 25px #f3edf8;
}

.boxtext :hover {
  border: solid black;

}

.footercontainer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 150px;
  left: 0;
  margin-left: 0px;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  background: #504702c8;
  opacity: 2;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267b2;
}

.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}

.wrapper .button:nth-child(3) span {
  color: #e1306c;
}

.wrapper .button:nth-child(4) span {
  color: #333;
}

.wrapper .button:nth-child(5) span {
  color: #ff0000;
}



@media screen and (max-width: 950px) {

  .header {
    width: 100%;
    left: 0;
  }

  body {
    margin: 0px;
    width: 100%;
    height: 100vh;
    background: none;
    background-color: rgb(210, 105, 30);
  }

  .navbar-brand {

    background-color: orangered;
    width: 85px;
    padding: 15px;
    border-radius: 21px;
  }

  .sitegénéalogie {
    width: 62px;
    height: 62px;
    font-size: 0px;
    color: #ffff;
    text-decoration: none;
    color: #fff;

  }


  .containerpersonne1 {
    margin-left: 0px;
    width: 119px;
    left: 8px;
  }

  .containerpersonne2 {
    left: 25px;
  }

  .containerpersonne3 {
    margin-left: 10px;
    left: 45px;
    top: -0px;
  }

  .img {
    width: 80px;
    height: 80px;
  }

  span,
  .prénom {
    font-size: 15px;
    top: 68px;
    left: 30px;
  }

  .prénom-mostefa {
    top: 68px;
    left: 8px;
  }

  .prénom-fatma {
    top: 68px;
    left: 18px;
  }

  .père {
    margin-right: 12px;
    margin-left: -13px;
  }

  #btnAcceuil {
    width: 87px;
    position: absolute;
    left: -37px;
  }

  #btnPaternel {
    position: absolute;
    left: 128px;
    margin-left: -15px;
  }

  #btnMaternel {
    position: absolute;
    left: 329px;
    margin-left: -46px;
  }

  .titre {
    margin-top: 1px;
  }

  img {
    width: 25px;
    height: 82px;
    border-radius: 50%;
    border: solid 5px chocolate;
    object-fit: fill;
  }

  body {
    width: auto;
    height: 375vh;

  }

  .logohome {
    position: absolute;
    top: 8px;
    left: 139px;
  }

  .sidebar {
    position: absolute;
    top: 288px;
    left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    opacity: 2;
    height: 102PX;
    WIDTH: 601PX;
  }

  .btn1 {
    DISPLAY: FLEX;
    FLEX-DIRECTION: row;
    position: absolute;
    left: 150px;
  }

  .btn {
    margin-bottom: 20px;
    scroll-margin-right: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 8rem;
    margin-bottom: 20px;
  }

  #boxtext {
    font-family: 'Dancing Script', cursive;
    padding: 27px;
    position: absolute;
    top: 199px;
    left: 0%;
    background: url(./images/parchment-1527104_1920.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: 5%;
    background-color: rgb(101, 83, 21);
    opacity: 0.80;
    border: solid whitesmoke;
    font-weight: 700;
    font-size: 19px;
    width: 266px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    overflow: scroll;


  }

  .footercontainer {
    width: 100%;
  }

}