@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dosis:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: url(./images/compass-2946959_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff0000;
}

.histoirelaieb {
  padding: 35px;
  font-family: "Dancing Script";
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

p {
  padding: 43px;
  color:black;
  background-size: 200%;
  background-position-y: -96px;
  background-position-x: -102px;
 background:url(./images/parchment-1527104_1920.jpg)
  
}

#tamponcertified {
  width: 420px;
  transform: rotate(45deg);
  position: absolute;
  top: 320px;
  right: 15px;
}

.header {
  height: 225px;
  width: 1800px;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 120px;
}

.integrationmenu,
.navbaraccueil .navbar-brand,
.nav-link,
active {
  width: 250px;
  font-family: "Dancing Script";
  font-size: 1.9rem;
  font-weight: 700;
}

.navbar {
  position: absolute;
  top: 10px;
  background-color: rgb(238, 239, 220);
  border-radius: 120px;
  opacity: 0.8;
  width: 1346px 
 
}

.search {
  padding-left: -2px;
  margin-left: 0px;
  width: 221px;
  border: solid green;
  font-weight: 700;
}

.boutonnav {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.boxtitre {
  width: 1301px;
  height: 670px;
  padding: 55px;
  border-radius: 15px;
  position: absolute;
  top: 200px;
  font-family: 'Dancing Script', cursive;
  left:20.31%;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 5%;
  background-color:rgb(101, 83, 21 ,);
  opacity: 0.5;
  border: solid whitesmoke;
  overflow: hidden;
  overflow: scroll;
  font-weight: 700;
  font-size: 35px;
  /* box-shadow: 0px 1px 38px 25px #f3edf8; */
 
}

.titre {
  color: rgb(52, 40, 28);
  font-family: "Dancing Script", cursive;
  font-size: 155px;
  text-align: center;
}

.footercontainer {
  border: solid 2px white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100px;
  width: 100%;
  background: #002334;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.wrapper .button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267b2;
}

.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}

.wrapper .button:nth-child(3) span {
  color: #e1306c;
}

.wrapper .button:nth-child(4) span {
  color: #333;
}

.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  body {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #bf9a69;
  }

  .header {
    top: -47px
  }

  .search {
    position: absolute;
    top: 280px;
    left: 10px;
  }


  #tamponcertified {
    width: 150px;
    position: absolute;
    top: 600px;
    right: 250px;
    opacity: 0.68;
  }

  .boutonnav,
  .btn-info {
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
  }



  .nav-link {
    background-color: aquamarine;
    height: 74px;
    width: 123px;
    font-size: 17px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .boxtitre {
    top: 235px;
    position: absolute;
  }

  .titre {
    font-size: 50px;
    text-align: center;
  }
}